<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.CommentDao">


    <insert id="addComment">
        insert into user_comment(user_id,share_file_id,comment,is_ai_checked,
                                 ai_checked_score,is_administrator_checked,administrator_checked_score,likes)
                                 values (#{userId},#{fileId},#{comment},0,0,0,0,0)
    </insert>
</mapper>